<%= render 'shared/error_messages', object: f.object %>

<span class="formdata">
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label "Friends Only" %>
<%= f.check_box :namepriv %>
</span>

<span class="formdata">
<%= f.label :zip, "Zip/Postal Code" %>
<%= f.text_field :zip %>
<%= f.label "Friends Only" %>
<%= f.check_box :zippriv %>
</span>

<span class="formdata">
<%= f.label :dob, "Date of Birth" %>
<%= date_select :user, :dob, :start_year => Time.now.year - 100, :end_year => Time.now.year, :order => [:month, :day, :year] %>
<%= f.label "Friends Only" %>
<%= f.check_box :dobpriv %>
</span>

<span class="formdata">
<%= f.label :email %>
<%= f.text_field :email %>
</span>

<span class="formdata">
<%= f.label "Make microfaves visible to friends only" %>
<%= f.check_box :feedpriv %>
</span>

<span class="formdata">
<%= f.label :password %>
<%= f.password_field :password %>
</span>

<span class="formdata">
<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation %>
</span>
