<% provide(:title, "Edit user") %>
<h1><%= @user.username %></h1>
<div class="row">
  <h2>
    <%= gravatar_for(@user) %>
    <a href="http://gravatar.com/emails">change profile pic</a>
  </h2>
  <section>
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %><br>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </secton>
</div>
