<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <section>
    <%= form_for(@user) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %> 
      <%= render 'fields', f: f %>
      <section>
        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
      </section>
    <% end %>
  </section>
</div>
