<div class="microfave">
  <div class="<%= micropost.category %>">
    <li id="<%= micropost.id %>">
      <li class="post">
        <span class="user"><%= link_to gravatar_for(micropost.user), micropost.user %>
        </span>
        <span><%= link_to micropost.user.username, micropost.user %>
        </span>
      </li>

      <li class="post">
        <span class="item"><a href=http://www.google.com/search?q=<%= micropost.item.gsub ' ','+' %> target="_blank"><%= micropost.item %></a></span>
        <span class="category">
          <% if micropost.category=='Music' %>
            <i class="icomoon-music"></i>
          <% end %>
          <% if micropost.category=='Book' %>
            <i class="icomoon-book"></i>
          <% end %>
          <% if micropost.category=='Movie' %>
            <i class="icomoon-camera"></i>
          <% end %>
          <% if micropost.category=='TV' %>
            <i class="icomoon-tv"></i>
          <% end %>
          <% if micropost.category=='Website' %>
            <i class="icomoon-screen"></i>
          <% end %>
          <% if micropost.category=='Food' %>
            <i class="icomoon-food"></i>
          <% end %>
          <% if micropost.category=='App' %>
            <i class="icomoon-mobile"></i>
          <% end %>
          <% if micropost.category=='Fashion' %>
            <i class="icomoon-t-shirt"></i>
          <% end %>
          <% if micropost.category=='Product' %>
            <i class="icomoon-cart"></i>
          <% end %>
          <% if micropost.category=='Other' %>
            <%= micropost.category %>
          <% end %>
        </span>
        <section class="content"><%= micropost.content %></section>
        <nav>
          <span class="timestamp">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</span>
          <span class="buttons">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icomoon-share"></i>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to raw('<i class="icomoon-facebook"></i>'), current_user %></li>
              <li><%= link_to raw('<i class="icomoon-twitter"></i>'), current_user %></li>
              <li><%= link_to raw('<i class="icomoon-google-plus"></i>'), current_user %></li>
              <li><%= link_to raw('<i class="icomoon-reddit"></i>'), current_user %></li>
              <li><%= link_to raw('<i class="icomoon-stumbleupon"></i>'), current_user %></li>
            </ul>
            <%= link_to raw('<i class="icomoon-heart"></i>'), current_user %>
            <%= link_to raw('<i class="icomoon-bullhorn"></i>'), current_user %>
            <%= link_to raw('<i class="icomoon-bubbles"></i>'), current_user %>
            <% if current_user?(micropost.user) %>
            <%= link_to raw('<i class="icomoon-trash"></i>'), micropost, method: :delete,
                                     data: { confirm: "Are you sure?" },
			             title: micropost.item, 
                                     title: micropost.category,
                                     title: micropost.content %>
            <% end %>
          </span>
        </nav>
      </li>
    </li>
  </div>
</div>
